<html>
    <body>
        <h1>ajouter un nouveau utilisateurs</h1>
        <form action="/user-new" method="post">
            <div>
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom">
            </div>
            <div>
                <label for="prn">Prenom</label>
                <input type="text" id="prn" name="prenom">
            </div>
            <div>
                <label for="age">Age</label>
                <input type="text" id="age" name="age">
            </div>
            <div>
                <button class="button button1">Ajouter</button>
            </div>
        </form>
    </body>
</html>