

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="app.component.css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site de recettes - Formulaire de Contact</title>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
  >
</head>


  <header>
    <video autoplay loop muted playsInline  class="nature">
     <source src="../assets/cybervideo.mp4">
      </video>
 <div class="conteneur">
    <div class="logo"><img src="../assets/april1.png" alt=""></div>
 <ul>
   <div class="papa">
       <li><a href="#" title="ohhh!" class="a">Home</a></li>
       <li><a href="#" class="b">About us</a></li>
       <li><a href="#" class="c">Services</a></li>
       <li><a href="#" class="d">Pages</a></li>
       <div class="e"><button   type="button" class="btn btn-primary">Contact us</button></div>

   </div>

 </ul>
 <div class="titre">
  <h1>Site de L'entreprise April Computer Origin </h1>

</div>










<router-outlet></router-outlet>
