
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="hero">
      <video autoplay loop muted plays-inline  class="play-video">
        <source src="../assets/cybervideo.mp4" type="video/mp4">
      </video>
          <nav>
              <img src="../assets/april1.png" alt=""  class="logo">

            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Pages</a></li>
              <li><button type="button" class="btn btn-primary">Contact us</button></li>
           </ul>

          </nav>
          <div class="conteneur">
            <h1> AprilComputerOrigin </h1>
        </div>

    </div>
</body>
</html>






<router-outlet></router-outlet>
